* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

header {
	padding-top: 5px;
}

h1 {
	font-family: verdana;
	font-size: 20pt;
	color: blue;
  padding-left: 30px;
	}

h2 {
    font-family: arial, verdana, sans-serif;
    font-size: 16pt;
    color: #6B6BD7;
}

input {
  border:1px solid #ccc;
  min-height:30px;
  outline: none;
}

.leftArea {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 400px;
  border:2px solid lightgrey;
  overflow-y: scroll;
  padding-top: 5px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.rightArea {
  position: absolute;
  top: 80px;
  right: 80px;
  width: 500px;
  height: 500px;
  border: 3px solid #73AD21;
  overflow-y: scroll;
  padding-top: 5px;
  padding-left: 20px;
}

.rightTop {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 50px;
  height: 3px;
  padding-top: 5px;
  padding-left: 20px;
}

label {
	display:block;
}

button {
	padding:6px;
}